.grid {
  display: grid;
  gap: 9.6rem;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}

.img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 8px;
}

.card-contain {
  padding: 3.2rem 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;   /* little more spacing looks better */
  text-align: left; /* or center, depending on your design */
}

.card {
  border-radius: 8px;
  box-shadow: 
    rgba(0, 0, 0, 0.05) 0px 6px 24px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  overflow: hidden; /* makes rounded corners also apply to the image */
  background: white; /* optional, looks clean */
}

/* ✅ Center the button inside the card */
.card-contain a {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
   text-decoration: none;
}



.card-contain button:hover {
  background: darkblue;
   text-decoration: none;
}


.superhit{
  background-color: green;
  border-radius: 100rem;
  padding: 0.3rem 1rem;
  margin-left: 0px;
}
.avg{
  background-color: yellow;
 border-radius: 100rem;
  padding: 0.3rem 1rem;
   margin-left: 0px; 
}